<pl-elem-storage filename="storage-test-store" uuid="{{uuid}}">
    <!-- Values inside here will be the default if there is nothing already written to this store --->
    <li><em>Click + to add lines!</em></li>
</pl-elem-storage>

<span id="storage-test-incr-{{uuid}}">[+]</span>

<ul class="storage-test-container" id="storage-test-container-{{uuid}}"></ul>

<script>
    $(function() {
        // retrieve the store that was made for our uuid
        const store = PlElemStorage.getStore("{{uuid}}");

        const container = $("#storage-test-container-{{uuid}}");

        function onChanges() {
            this.setAttribute('value', this.value);
            store(container.html());
        }

        // restore the previous state (or default if there isn't one)
        const prev = store(); // calling store with no args gets the current value
        container.html(prev);
        container.find('input').each(function() {
            $(this).on('input', onChanges);
        });

        // make a hook to save this particular pl-storage-test instance from anywhere on the webpage
        container.data('save', function() { store(container.html()); });

        $('#storage-test-incr-{{uuid}}').click(function() {
            container.append(`<li><input></input></li>`);
            // write the append to the store
            store(container.html());
            // make sure the new input responds to changes
            const newInput = container.children().last().children().first();
            newInput.on('input', onChanges);

        });
    });
</script>
