{{! hidden form field that will be filled with student response right before submit; we have to capture the state of both the 'starter code' box and the 'solution' box}}

<input id="student-starter-code"     name="student-starter-code"     type="hidden" value=""/>
<input id="student-parsons-solution" name="student-parsons-solution" type="hidden" value=""/>

{{! hidden form field populated with initial code; no 'name' attrib so won't be submitted }}

<input id="code-lines" type="hidden" value="{{{code_lines}}}"/>

{{! the side by side boxes, starter code on left, solution area on right }}
<div class="pl-faded-parsons row">
  <div id="starter-code"     class="col-sm-6 border px-1 sortable-code"></div>
  <div id="parsons-solution" class="col-sm-6 border sortable-code"></div>
</div>
