<!-- key 'foo' of `html_params` set up in pl-faded-parsons.py is available here as {{foo}} -->

<div class="pl-faded-parsons">  

I am a faded Parsons problem to be replaced by the whole Javascripty stuff that
draws the boxes and draggable lines of code...
The code should be found in file code.py in serverFilesQuestion

<div class="border">
<code><pre>
{{#lines_array}}{{.}}
{{/lines_array}}
</pre></code>
</div>

</div>
