<input type="hidden" id="pl-local-storage-{{key}}" value="{{current_file_contents}}"/>

<script>
    $(function() {
        const key = "{{key}}";
        const htmlSelector = "#pl-local-storage-{{key}}";
        const store = PlLocalStorage.registerStore(key, htmlSelector);
    })
</script>